<!doctype html>
{% if configuration.MULTILINGUAL %}
<html lang='{{g.lang_code}}'>
{% else %}
<html lang='{{configuration.DEFAULT_LANGUAGE}}'>
{% endif %}
<head>
<base href="{{ configuration.URL_APPLICATION }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>Présentation de l'atlas | {{configuration.NOM_APPLICATION}} - {{configuration.STRUCTURE}}</title>

		{% include "templates/core/assets_header.html" %}
		<!-- Additional assets -->
		{% block additionalHeaderAssets %}
		{% endblock %}
		{% block metaTags %}{% endblock %}

		<!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Atlas -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon.ico') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/staticPages.css') }}" />
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" />
</head>

<body class="page-partenaires">
<header id="navbar">
    {% include "static/custom/templates/navbar.html" %}
</header>

<sidebar id="sideBar">
    {% include 'templates/core/sideBar.html' %}
</sidebar>

<main class="d-flex">
    <div class="container-fluid" id="page">

        <div class="container partenaires">
            <div class="row">
                <div class="col-lg-12">
					<!-- Texte de présentation général -->
                    <h3 class="featurette-heading" style="text-align: center;">Partenaires</h3>
                    <div class="featurette">
                        <p class="lead" style="text-align: justify;">
                            Ce projet d’Atlas est soutenu financièrement par la DRIEAT (Direction régionale et interdépartementale de l’environnement, 
                            de l’aménagement et des transports) et la Région Île-de-France dans le cadre du Système d’Informations de l’iNventaire du Patrimoine naturel 
                            <a href="https://geonature.arb-idf.fr/le-systeme-dinformation-de-linventaire-du-patrimoine-naturel-sinp" target="_blank" rel="noopener noreferrer">(SINP)</a>.
                        </p>
                        <p class="lead" style="text-align: justify;">
                            Son contenu repose sur les contributions des structures partenaires des Atlas telles que l’Office pour les insectes et leur environnement (Opie), 
                            la Société Herpétologique de France (SHF), la Société Française pour l’Étude et la Protection des Mammifères (SFEPM) ou des naturalistes indépendants 
                            tels que Pierre Tillier ou Thomas Bitsch. Ainsi que sur les données de l’ensemble des structures partenaires et naturalistes indépendants contributeurs, 
                            représentés par les membres du Comité de coordination de la base de données franciliennes, GeoNat’îdF. 
                            À noter également la participation du Conservatoire Botanique National du Bassin Parisien (CBNBP), 
                            dont les données Flore, collectées et administrées dans la base Lobelia, abondent à GeoNat’îdF. 
                        </p>
                    </div>	
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="featurette-heading" style="text-align: center;">Membres du Comité de coordination</h3>
                </div>
            </div>

            <div class="featurette">

                <div class="row">
                    <div class="col-xs-6 col-md-3"><a href="https://www.iledefrance-nature.fr/" target="_blank" rel="noopener noreferrer"><img alt="Île-de-France Nature" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/LogoIDFN.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="http://www.arb-idf.fr/" target="_blank"rel="noopener noreferrer"><img alt="Agence régionale de la Biodiversité d'Île-de-France" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/logo_ARB.jpg"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://www.anvl.fr/" target="_blank" rel="noopener noreferrer"><img alt="Association Naturaliste de la Vallée du Loing et du massif de Fontainebleau" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/logo_anlv.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://azimut230.fr/" target="_blank" rel="noopener noreferrer"><img alt="Azimut230" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/azimut230_logo.png"></a></div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3"><a href="http://cbnbp.mnhn.fr/cbnbp/" target="_blank" rel="noopener noreferrer"><img alt="Conservatoire Botanique national du bassin parisien" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/CBNBP.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://www.seine-et-marne.fr/" target="_blank" rel="noopener noreferrer"><img alt="Seine-et-Marne CD77" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/LogoDepartement77.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://www.yvelines.fr/" target="_blank" rel="noopener noreferrer"><img alt="Yvelines CD78" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/LogoDepartement78.jpg"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="http://www.essonne.fr/" target="_blank" rel="noopener noreferrer"><img alt="Essone CD91" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/LogoDepartement91.png"></a></div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3"><a href="https://www.hauts-de-seine.fr/" target="_blank" rel="noopener noreferrer"><img alt="Hauts-de-seine CD92" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/LogoDepartement92.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://www.valdoise.fr/" target="_blank" rel="noopener noreferrer"><img alt="Val d'Oise CD95" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/LogoDepartement95.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://www.drieat.ile-de-france.developpement-durable.gouv.fr/" target="_blank" rel="noopener noreferrer"><img alt="Direction régionale et interdépartementale de l'Environnement, de l'Aménagement et des Transports d'Île-de-France" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/drieat_logo.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="http://www.federationpeche77.fr/" target="_blank" rel="noopener noreferrer"><img alt="Fédération de pêche 77" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/logo_federation_peche_77.png"></a></div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3"><a href="https://www.naturessonne.fr/" target="_blank" rel="noopener noreferrer"><img alt="NaturEssonne" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/logo_nature_essone.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://ofb.gouv.fr/" target="_blank" rel="noopener noreferrer"><img alt="Office français de la Biodiversité" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/OFB_logo.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="http://www.insectes.org/" target="_blank" rel="noopener noreferrer"><img alt="Office pour les insectes et leur environnement" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/opie_logo.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://www.parc-naturel-chevreuse.fr/" target="_blank" rel="noopener noreferrer"><img alt="Parc naturel régional de la Haute Vallée de Chevreuse" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/logo_chevreuse.png"></a></div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3"><a href="https://www.iledefrance.fr/" target="_blank" rel="noopener noreferrer"><img alt="Région Île-de-France" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/region_idf_logo.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="http://www.reserves-naturelles.org/" target="_blank" rel="noopener noreferrer"><img alt="Réserves naturelles de France" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/logo_reserves_naturelles_france.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://programme-roseliere.fr/" target="_blank" rel="noopener noreferrer"><img alt="Roselière" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/logo_roseliere.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="http://www.seine-et-marne-environnement.fr/" target="_blank" rel="noopener noreferrer"><img alt="Seine-et-Marne Environnement" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/logo_seine_marne_envrt.png"></a></div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3"><a href="https://france-orchidees.org/" target="_blank" rel="noopener noreferrer"><img alt="Société française d'orchidophilie" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/logo_SFO.jpg"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="http://lashf.org/" target="_blank" rel="noopener noreferrer"><img alt="Société Herpétologique de France" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/SHF_logo.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://www.syndicatdelorge.fr/" target="_blank" rel="noopener noreferrer"><img alt="Syndicat de l'orge" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/logo_syndicat_orge.png"></a></div>
                    <div class="col-xs-6 col-md-3"><a href="https://www.mnhn.fr/" target="_blank" rel="noopener noreferrer"><img alt="Museum national d'Histoire naturelle" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/MNHN-logo.png"></a></div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3"><a href="https://www.paris.fr/" target="_blank" rel="noopener noreferrer"><img alt="Logo Ville de Paris" src="https://geonature.arb-idf.fr/atlas_172/static/custom/images/partenaires/LogoDepartement75.png"></a></div>
                </div>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a class="btn btn-success btn-lg partenaires-link" href="https://geonature-dev.arb-idf.fr/partenaires" target="_blank" rel="noopener noreferrer">
                            🌍 Retrouvez la page partenaires de GeoNat’îdF
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

{% if configuration.AFFICHAGE_FOOTER %}
    <footer>
        {% include 'static/custom/templates/footer.html' %}
    </footer>
{% endif %}

</body>

{% include "templates/core/assets_footer.html" %}
<script>
    {% for type in areas_type_search %}
        $("#searchAreas{{ type.type_code.lower().capitalize() }}").focus(function () {
            autocompleteSearch("#searchAreas{{ type.type_code.lower().capitalize() }}", "{{ type.type_code}}", 10);
        });
    {% endfor %}
</script>
{% block additionalFooterAssets %}{% endblock %}

</html>
